* {
    margin: 0;
    padding: 0;
}

#selectionTitle {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

#selectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
}

.selections:hover {
    text-decoration: underline;
    font-size: 150%;
}

.images {
    height: 200px;
    width: auto;
}

.images:hover {
    height: 250px;
    width: auto;
}